In [ ]:
## import mysql.connector      #imports MySQL connector module
# DATABASE CONNECTION FUNCTION
def get_connection():
    return mysql.connector.connect(
        host="localhost",
        user="root",
        password="gungun123",
        database="school")
# INSERT STUDENTS
def insert_student(name, age, grade):
    conn = get_connection()
    cursor = conn.cursor()
    cursor.execute("INSERT INTO students (name, age, grade) VALUES (%s, %s, %s)", (name, age, grade))
    conn.commit()
    print("Student inserted successfully.")
    conn.close()
# DISPLAY ALL STUDENTS
def display_students():
    conn = get_connection()
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM students")
    results = cursor.fetchall()
    print("ID\tName\tAge\tGrade")
    for row in results:
        print(row)
    conn.close()
# UPDATE STUDENT GRADE
def update_grade(student_id, new_grade):
    conn = get_connection()
    cursor = conn.cursor()
    cursor.execute("UPDATE students SET grade = %s WHERE id = %s", (new_grade, student_id))
    conn.commit()
    print("Grade updated successfully.")
    conn.close()
# DELETE STUDENT
def delete_student(student_id):
    conn = get_connection()
    cursor = conn.cursor()
    cursor.execute("DELETE FROM students WHERE id = %s", (student_id,))
    conn.commit()
    print("Student deleted successfully.")
    conn.close()
#MAIN MENU FUNCTION
def main():
    while True:
        print("\n----- Student Records-----")
        print("1. Insert Student\n2. Display All Students\n3. Update Student Grade\n4. Delete Student\n5. Exit")
        choice = input("Enter your choice (1-5): ")
        
        if choice == '1':
            name = input("Enter name: ")
            age = int(input("Enter age: "))
            grade = input("Enter grade: ")
            insert_student(name, age, grade)
        elif choice == '2':
            display_students()
        elif choice == '3':
            student_id = int(input("Enter student ID: "))
            new_grade = input("Enter new grade: ")
            update_grade(student_id, new_grade)
        elif choice == '4':
            student_id = int(input("Enter student ID to delete: "))
            delete_student(student_id)
        elif choice == '5':
            print("Exiting...")
            break
        else:
            print("Invalid choice. Please try again.")
main()

----- Student Records-----
1. Insert Student
2. Display All Students
3. Update Student Grade
4. Delete Student
5. Exit

Enter your choice (1-5):  1
Enter name:  Aarya
Enter age:  23
Enter grade:  A

Student inserted successfully.

----- Student Records-----
1. Insert Student
2. Display All Students
3. Update Student Grade
4. Delete Student
5. Exit

Enter your choice (1-5):  1
Enter name:  Gungun
Enter age:  22
Enter grade:  A

Student inserted successfully.

----- Student Records-----
1. Insert Student
2. Display All Students
3. Update Student Grade
4. Delete Student
5. Exit

Enter your choice (1-5):  1
Enter name:  Khushi
Enter age:  22
Enter grade:  B

Student inserted successfully.

----- Student Records-----
1. Insert Student
2. Display All Students
3. Update Student Grade
4. Delete Student
5. Exit

Enter your choice (1-5):  1
Enter name:  Monika
Enter age:  23
Enter grade:  B+

Student inserted successfully.

----- Student Records-----
1. Insert Student
2. Display All Students
3. Update Student Grade
4. Delete Student
5. Exit

Enter your choice (1-5):  2

ID	Name	Age	Grade
(1, 'Aarya', 22, 'A')
(2, 'Gungun', 21, 'A')
(3, 'Khushi', 22, 'A+')
(5, 'Saurabh', 24, 'B+')
(6, 'Yash', 22, 'B+')
(7, 'gungun', 22, 'a')
(8, 'Gungun', 22, 'A')
(9, 'Aarya', 23, 'A')
(10, 'Aarya', 23, 'A')
(11, 'Gungun', 22, 'A')
(12, 'Khushi', 22, 'B')
(13, 'Monika', 23, 'B+')

----- Student Records-----
1. Insert Student
2. Display All Students
3. Update Student Grade
4. Delete Student
5. Exit

Enter your choice (1-5):  3
Enter student ID:  13
Enter new grade:  C

Grade updated successfully.

----- Student Records-----
1. Insert Student
2. Display All Students
3. Update Student Grade
4. Delete Student
5. Exit